<DOCTYPE! html>
<html lang="en">
<head>
  <title>European Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<p>Welcome to Our Home Page <em>this is first ruby on rails web application</em></p>
	<table>
			<thead>
			  <tr>
				<th>PRODUCT</th>
				<th></th>
				<th></th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Total Price</th>
			  </tr>
			</thead>
		 <!-- selected products row -->
			<tbody>
			  <tr>
				<td><%= link_to 'About',about_path %></td>
				<td><p> Drop Earrings with Diamonds in Sterling Silver <br> SKU 12324454 </p></td>
				<td>xxxxxxx</td>
				<td>1</td>
				<td>123,456.78</td>
				<td>123,456.78</td>
			  </tr>
			  <tr>
				<td>xxxxxx</td>
				<td><p> Drop Earrings with Diamonds in Sterling Silver <br> SKU 12324454 </p></td>
				<td>xxxxxxx</td>
				<td>1</td>
				<td>123,456.78</td>
				<td>123,456.78</td>
			  </tr>
</body>
</html>